/* Body Layout */
body {
    font-family: var(--font-primary);
    background-color: var(--background-color);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}

/* Section Layout */
section {
    padding: var(--padding);
}

/* Heading Layout */
h1, h2, h3 {
    font-family: var(--font-primary);
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

/*Text layout */
p {
    max-width: 60ch;
}

/* Case Studies Container Layout */
.case-studies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}