/* Media Queries */
@media (max-width: 768px) {

    body {
    padding: 0 0.5rem;
    }

    .case-studies-container {
        grid-template-columns: 1fr;
    }
    
    .case-study img {
        height: 200px;
    }

    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
}