/* Media Queries */
@media (max-width: 768px) {
    .case-studies-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
}